@import "tailwindcss";

:root {
  --white: #f1f1f1;
  --black: #111;
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
  font-family: 'Quicksand', sans-serif;
}

h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

ul {
  font-family: 'Montserrat', sans-serif;
}

.text-glow {
  text-shadow: 0 0 10px #ffffff33, 0 0 20px #ffffff11, 0 0 30px #ffffff11;
}
