.root {
  background-color: var(--background);
}

.mainTitle {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  margin-top: 25vh;
  margin-bottom: 10vh;
}

.subHeader {
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  margin-bottom: .8rem;
}

.iconsContainer {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  width: 200px;
  margin: 0 auto 20vh auto;
}


.iconReact {
  color: #61DBFB;
}

.iconJS {
  color: #f0db4f;
}

.iconCode {
  color: var(--white);
}

.iconPy {
  color: #306998;
}

.projectsSectionContainer {
  max-width: var(--screen-lg);
  margin: auto;
  background-color: var(--white);
  border-radius: 2rem;
  padding: 1rem;
  min-height: 100vh;
  box-shadow: 10px 10px 25px 10px #0004;
}

.projectsTitle {
  text-transform: uppercase;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
  margin-top: 2rem;
  font-size: 2.5rem;
}

.projectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  justify-items: center; 
  row-gap: 20px;
}