.root {
  background-color: var(--background);
}

.heroSection {
  position: relative;
  padding-top: 25vh;
  padding-bottom: 45vh;
}

.heroLogo {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
}

.heroContent {
  position: relative;
  z-index: 1;
}

.mainTitle {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  margin-bottom: 10vh;
}

.subHeader {
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  margin-bottom: .8rem;
}

.iconsContainer {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  width: 200px;
  margin: auto;
}


.iconReact {
  color: #61DBFB;
}

.iconJS {
  color: #f0db4f;
}

.iconCode {
  color: var(--white);
}

.iconPy {
  color: #306998;
}

.projectsSectionContainer {
  max-width: var(--screen-lg);
  margin: auto;
  background-color: var(--white);
  border-radius: 2rem;
  padding: 1rem;
  min-height: 100vh;
  box-shadow: 10px 10px 25px 10px #0004;
  text-align: center;
}

.projectsTitle {
  text-transform: uppercase;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
  margin-top: 2rem;
  font-size: 2.5rem;
}

.projectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  justify-items: center; 
  row-gap: 3rem;
}

/* Animation */

.expandingSquareContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
}

.expandingSquareContainer {
}

.expandingSquare {
  width: 3%;
  height: 3%;
}


@keyframes expand-square {
  0% {
    background-color: var(--background);
    transform: scale(1);
  } 50% {
    background-color: #80c0d3;
    transform: scale(1);
  } 100% {
    background-color: var(--background);
    transform: scale(1);
  }
}