.root {
    height: 280px;
    width: 280px;
    box-shadow: 4px 4px 5px #0003;
    border-radius: .7rem;
    overflow: hidden;
}

.imgContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.cardLowerHalf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    padding: 1rem .4rem;
}

.projectTitle {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.iconsContainer {
    font-size: 2rem;
}

.ghIcon {
    margin-right: 1rem;
    cursor: pointer;
}

.liveIcon {
    margin-right: 1rem;
    cursor: pointer;
}